//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 09 27 14:33:21 2024

IO_LOC "o_led_step[2]" 13;
IO_PORT "o_led_step[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_led_step[1]" 11;
IO_PORT "o_led_step[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_led_step[0]" 10;
IO_PORT "o_led_step[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "o_Dac_CLK" 40;
IO_PORT "o_Dac_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[11]" 34;
IO_PORT "o_InterpOut[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[10]" 33;
IO_PORT "o_InterpOut[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[9]" 30;
IO_PORT "o_InterpOut[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[8]" 29;
IO_PORT "o_InterpOut[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[7]" 28;
IO_PORT "o_InterpOut[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[6]" 27;
IO_PORT "o_InterpOut[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[5]" 26;
IO_PORT "o_InterpOut[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[4]" 25;
IO_PORT "o_InterpOut[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[3]" 39;
IO_PORT "o_InterpOut[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[2]" 36;
IO_PORT "o_InterpOut[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[1]" 37;
IO_PORT "o_InterpOut[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_InterpOut[0]" 38;
IO_PORT "o_InterpOut[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i_Rot_C" 57;
IO_PORT "i_Rot_C" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_Rot_B" 68;
IO_PORT "i_Rot_B" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_Rot_A" 69;
IO_PORT "i_Rot_A" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_button" 35;
IO_PORT "i_button" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i_Ext_Resetn" 4;
IO_PORT "i_Ext_Resetn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "i_Ext_CLOCK" 52;
IO_PORT "i_Ext_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
